---

- name: copy custom tasks
  copy:
    src: "{{ item }}"
    dest: "/usr/local/bin"
    mode: 0755
  loop:
    - prune.sh
    - list_all_container.sh
    - list_all_images.sh
    - remove_stopped_container.sh
    - remove_untagged_images.sh
    - parse_container_fact.sh

- name: validate pre tasks
  block:
    - name: ensure pre tasks are available
      stat:
        path: "{{ item }}"
        get_checksum: false
        get_md5: false
        get_mime: false
        get_attributes: false
      register: _pre_task_available
      loop: "{{ container_pre_tasks }}"

    - name: assert missing pre task
      assert:
        that:
          - _pre_task_available.results | files_available | count == container_pre_tasks | count
        msg:
          - not all pre tasks are available
          - missing {{ container_pre_tasks | difference( _pre_task_available.results | files_available ) }}
        quiet: true
  when:
    - container_pre_tasks is defined
    - container_pre_tasks | count > 0

- name: validate post tasks
  block:
    - name: ensure post tasks are available
      stat:
        path: "{{ item }}"
        get_checksum: false
        get_md5: false
        get_mime: false
        get_attributes: false
      register: _post_task_available
      loop: "{{ container_post_tasks }}"

    - name: assert missing post task
      assert:
        that:
          - _post_task_available.results | files_available | count == container_post_tasks | count
        msg:
          - not all pre tasks are available
          - missing {{ container_post_tasks | difference( _post_task_available.results | files_available ) }}
        quiet: true
  when:
    - container_post_tasks is defined
    - container_post_tasks | count > 0

...
