---

- name: "include OS specific configuration ({{ ansible_distribution }} ({{ ansible_os_family }}) {{ ansible_distribution_major_version }})"
  ansible.builtin.include_vars: "{{ lookup('first_found', params) }}"
  vars:
    params:
      paths:
        - "vars"
      files:
        # eg. debian-10 / ubuntu-20.04 / centos-8 / oraclelinux-8
        - "{{ ansible_distribution | lower }}-{{ ansible_distribution_major_version }}.yml"
        # eg. archlinux-systemd / archlinux-openrc
        - "{{ ansible_distribution | lower }}-{{ ansible_service_mgr | lower }}.yml"
        # eg. debian / ubuntu / centos / oraclelinux
        - "{{ ansible_distribution | lower }}.yml"
        # eg. redhat / debian / archlinux
        - "{{ ansible_os_family | lower }}.yml"
        - default.yaml
      skip: true

- name: python3-apt for debian
  when:
    - ansible_os_family | lower == 'debian'
  block:
    - name: make sure python3-apt is installed (only debian based)
      ansible.builtin.package:
        name:
          - python3-apt
        state: present
      register: _installed

    - name: update apt cache  # noqa no-handler
      when:
        - _installed.changed
      block:
        - name: clean apt cache
          ansible.builtin.command: |
            apt-get clean
          register: apt_clean
          changed_when: apt_clean.rc != 0
          failed_when: apt_clean.rc != 0
          when: "ansible_version.full is version_compare('2.13', '<')"

        - name: clean apt cache
          ansible.builtin.apt:
            clean: true
          when: "ansible_version.full is version_compare('2.13', '>=')"

- name: python support
  when:
    - container_python_packages is defined
    - container_python_packages | count > 0
  block:
    - name: create pip requirements file
      bodsch.core.pip_requirements:
        name: container
        requirements: "{{ container_python_packages }}"
      register: pip_requirements

    - name: fail if pip not installed
      ansible.builtin.fail:
        msg: python pip is not installed
      when:
        - not pip_requirements.pip.present

    - name: install container python packages  # noqa no-handler
      ansible.builtin.pip:
        executable: pip3
        requirements: "{{ pip_requirements.requirements_file }}"
        state: present
      when:
        - pip_requirements.requirements_file is defined
        - pip_requirements.changed

    - name: do facts module to get latest information
      ansible.builtin.setup:

- name: install dependency
  ansible.builtin.package:
    name: "{{ container_packages }}"
    state: present

- name: filter container by {{ container_filter.by }}
  ansible.builtin.set_fact:
    container: "{{ container | container_filter_by(container_filter.by, container_filter.names) }}"
  when:
    - container_filter is defined
    - container_filter.by is defined
    - container_filter.by in ["name", "hostname", "image"]
    - container_filter.names is defined
    - container_filter.names | count > 0

- name: define some container facts
  ansible.builtin.set_fact:
    container_names: "{{ container | container_names }}"
    container_images: "{{ container | container_images }}"
    container_mounts: "{{ container | container_mounts }}"
    container_reg: "{{ container_registry | combine_registries(container_registry_default) }}"
  no_log: true

- name: validate container mountpoints
  ansible.builtin.fail:
    msg: "your mounts definition is not valid!\n
          The following parameters are required:\n
          - source\n
          - target\n
          - type\n
          'type' may only have one of the following values: 'bind','tmpfs' or 'volume'\n
          read: https://docs.ansible.com/ansible/latest/collections/community/docker/docker_container_module.html#parameter-mounts"
  when:
    - container_mounts is defined
    - container_mounts | count > 0
    - not item.source is defined or
      not item.target is defined or
      not item.type is defined or
      (item.type is defined and item.type not in ['bind','tmpfs','volume'] )
  loop: "{{ container_mounts | remove_source_handling }}"
  loop_control:
    label: "{{ item.source | default('undefined') }}"

- name: create base directory to persist docker environnments
  become: true
  ansible.builtin.file:
    name: "{{ container_env_directory }}"
    state: directory
    mode: 0755

- name: create application directory to persist docker environnments
  become: true
  container_directories:
    base_directory: "{{ container_env_directory }}"
    container: "{{ container_names }}"
    owner: '1000'
    group: '1000'
    mode: "0775"
  register: _created_directories
  notify:
    - created application directories

- name: persist application docker environnments or properties
  become: true
  container_environments:
    base_directory: "{{ container_env_directory }}"
    container: "{{ container }}"
  register: _container_data
  notify:
    - update container for recreate running docker instance
    - created environnments or properties

- name: is a container restart necessary after changes to the protieries?  # noqa no-handler
  ansible.builtin.set_fact:
    container_update_needed: true
  when:
    - _container_data.changed

- name: create container volumes and mountpoints
  become: true
  container_mounts:
    data: "{{ container }}"
    volumes: true
    mounts: true
  register: _created_directories
  notify:
    - created container volumes and mountpoints

- name: flush handlers
  ansible.builtin.meta: flush_handlers

- name: define container images that are needed
  ansible.builtin.set_fact:
    _needed_container_images: "{{ container | container_state('present', 'image') }}"

...
