---

- name: include OS specific configuration ({{ ansible_distribution }} ({{ ansible_os_family }}) {{ ansible_distribution_major_version }})
  include_vars: "{{ lookup('first_found', params) }}"
  vars:
    params:
      paths:
        - "vars"
      files:
        # eg. debian-10 / ubuntu-20.04 / centos-8 / oraclelinux-8
        - "{{ ansible_distribution | lower }}-{{ ansible_distribution_major_version }}.yml"
        # eg. archlinux-systemd / archlinux-openrc
        - "{{ ansible_distribution | lower }}-{{ ansible_service_mgr | lower }}.yml"
        # eg. debian / ubuntu / centos / oraclelinux
        - "{{ ansible_distribution | lower }}.yml"
        # eg. redhat / debian / archlinux
        - "{{ ansible_os_family | lower }}.yml"
        - default.yaml
      skip: true

- name: install dependency
  package:
    name: "{{ container_packages }}"
    state: present

- name: merge container registry configuration between defaults and custom
  set_fact:
    container_registry: "{{ container_registry_default |
      combine( container_registry, recursive=True ) }}"

- name: get container_names from container
  set_fact:
    container_names: "{{ container | container_names }}"

- name: get container_images from container
  set_fact:
    container_images: "{{ container | container_images }}"

- name: detect container volumes
  set_fact:
    container_volumes: "{{ container | container_volumes }}"

- name: create base directory to persist docker environnments
  become: true
  file:
    name: "{{ container_env_directory }}"
    state: directory
    mode: 0o755

- name: create application directory to persist docker environnments
  become: true
  file:
    name: "{{ container_env_directory }}/{{ item }}"
    state: directory
    owner: '1000'
    group: '1000'
    mode: 0o775
  with_items: "{{ container_names }}"
  loop_control:
    label: "{{ item }}"

- name: persist application docker environnments
  become: true
  template:
    src: container.env.j2
    dest: "{{ container_env_directory }}/{{ item.name }}/container.env"
    mode: 0o755
  with_items: "{{ container }}"
  loop_control:
    label: "{{ item.name }}"

- name: persist application properties
  become: true
  container_properties:
    dest: "{{ container_env_directory }}/{{ item.name }}/{{ item.name }}.properties"
    properties: "{{ item.properties }}"
  loop: "{{ container }}"
  loop_control:
    label: "{{ item.name }}"
  register: changed_application_properties
  when:
    - item.properties is defined

- name: container restart needed after property changes  # noqa no-handler
  set_fact:
    container_update_needed: true
    container_changed: "{{ changed_application_properties | properties_changed }}"
  when:
    - changed_application_properties.changed

- name: update container for recreate running docker instance
  set_fact:
    container: "{{ container | update(container_changed) }}"
  when:
    - container_update_needed

- name: create container volumes
  become: true
  file:
    name: "{{ item.local }}"
    state: directory
    owner: "{{ item.ansible.owner | default(omit) }}"
    group: "{{ item.ansible.group | default(omit) }}"
    mode: "{{ item.ansible.mode | default(omit) }}"
  loop: "{{ container_volumes }}"
  loop_control:
    label: "{{ item.local }} /
      ignore: {{ item.ansible.ignore | default('false') | bool }}
      owner: {{ item.ansible.owner | default('-') }}
      group: {{ item.ansible.group | default('-') }}
      mode: {{ item.ansible.mode   | default('-') }}"
  when:
    - not item.ansible.ignore | default('false') | bool

# - name: remove environnments from container
#   set_fact:
#     container: "{{ container | remove_values('environments') }}"
#
# - name: remove properties from container
#   set_fact:
#     container: "{{ container | remove_values('properties') }}"

- name: make sure ansible local facts directory exists
  become: true
  file:
    dest: /etc/ansible/facts.d
    state: directory
    owner: root
    group: root
    mode: 0o777

...
