#!/usr/bin/env sh
# {{ ansible_managed }}
{% set checksum = '' %}
{% set env_list = [] %}
{% if item.environments is defined  %}
{% set env_list = item.environments.items() | sort  %}
{% set checksum = item.environments.items() | sort | hash('md5') %}
{% endif %}

cat <<EOF
{
  "checksum": "{{ checksum }}",
  "variables": "{{ env_list }}"
}
EOF
